# This is the git ignore file for the entire rescomp repository

# Precompiled python files
__pycache__/
*.pyc

# Python package build files
build/
dist/
rescomp.egg-info/

# Compiled doc files
doc/_build/

# IDE specific files
.idea/
