# This is the git ignore file for the entire rescomp repository

# Precompiled python files
__pycache__/
*.pyc

# Python package build files
build/
dist/
rescomp.egg-info/

# Compiled doc files
doc/_build/

# IDE specific files
.idea/

# jupyter checkpoint files:
bin/.ipynb_checkpoints/

# Temporary swap files
*.swp

# Files for testing with pyenv and tox
.python-version
venv/
.tox/
