# This is the git ignore file for the entire rescomp repository

# Precompiled python files
__pycache__/
*.pyc

# Python package build files
build/
dist/
rescomp.egg-info/

# Compiled doc files
doc/_build/

# IDE specific files
.idea/
bin/.ipynb_checkpoints/Hybrid_RC_Testing_Lorenz_Plotly-checkpoint.ipynb
bin/.ipynb_checkpoints/Lyapunov Exponents-checkpoint.ipynb
bin/.ipynb_checkpoints/RC_statistical_model_comparison_param_sweep-checkpoint.ipynb
bin/.ipynb_checkpoints/RC_statistical_model_comparison_TEMPLATE-checkpoint.ipynb
bin/Lyapunov Exponents.ipynb
