# requirement.txt for rescomp testing. Specifies the oldest package versions we support.
# Note that the order of packages shouldn't matter, but I'm not 100% sure on that.

# numpy == 1.14.5 # officially the min. version for python 3.6, works for higher python version too it seems though
# numpy == 1.14.6 # min version that works with scipy 1.4.0
# numpy == 1.16.5 # officially the min. version for python 3.7. Offically the min. version for pandas==1.2.0
# numpy == 1.17.5 # officially the min. version for python 3.8. Min. version that works with pandas==1.2.0 on py39
# numpy == 1.19.3 # officially the min. version for python 3.9
numpy == 1.19.4 # the 1.19.3 is not installable via conda default or conda-forge, for some reason

networkx == 2.5.0 # networkx<2.5 throws an error on py39 due to fractions.gcd having moved to math.gcd in py39
pandas == 1.2.0 # pandas<1.2 (<=0.25, 1.0, 1.1) doesn't reliably work on python 3.9. Isn't even installable, really

scipy == 1.6.0 # min version compatible with numpy 1.19.4 that works for both conda and pip
scikit-learn == 0.24.0 # scikit-learn<=0.22 doesn't reliably work on python 3.9 and conda doesn't allow installs of <=0.23
